a.cnhl{font-weight: bold!important; color: #1f3594!important;}
.bs-main-menu{height: 57px!important;}     
@media (max-width: 600px) {
.gallery-card img:nth-child(1) {
  margin-left: -162px;
    margin-top: -33px;
    width: 20%;
}
.gallery-card img:nth-child(2) {
  margin-left: -49px;
    margin-top: -55px;
    width: 20%;
}
.gallery-card img:nth-child(3) {
  margin-left: 85px;
    margin-top: -4px;
    width: 20%;
} }
