a.cnhl{font-weight: bold!important; color: #1f3594!important;}
.bs-main-menu{height: 57px!important;}     
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px; /* spacing between images */
  flex-wrap: wrap;
  background-color: #fff; /* or any color if needed */
  padding: 10px;
}

.responsive-img {
  width: 100px;   /* set your preferred size */
  height: 100px;
  object-fit: contain; /* keeps image aspect ratio within box */
  max-width: 100%;
}
