---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---
<link rel="stylesheet" href="../menu-styles.css">

<header class="header">
         <nav class="nav container">
            <div class="nav__data">
               <a href="#" class="nav__logo">
                 <img src="https://collnet2025.mailus.workers.dev/logo.gif" border="0" />
               </a>
               
               <div class="nav__toggle" id="nav-toggle">
                  <i class="ri-menu-line nav__burger"></i>
                  <i class="ri-close-line nav__close"></i>
               </div>
            </div>

            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li><a href="/index" class="nav__link">Home</a></li>
                  <li class="dropdown__item">
                     <div class="nav__link">
                       About Us <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                     </div>

                     <ul class="dropdown__menu">
                        <li>
                           <a href="/about" class="dropdown__link">
                              <i class="ri-pie-chart-line"></i> About Us
                           </a>                          
                        </li>

                        <li>
                           <a href="/organizing_committe" class="dropdown__link">
                              <i class="ri-arrow-up-down-line"></i> Organizing Committee
                           </a>
                        </li>
						 <li>
                           <a href="/important_dates" class="dropdown__link">
                              <i class="ri-arrow-up-down-line"></i> IMP Dates
                           </a>
                        </li>
                     
                     </ul>
                  </li>
                    <li><a href="/our_speakers" class="nav__link">Speakers</a></li>
                  <li><a href="/venue" class="nav__link">Venue</a></li>

                  <li class="dropdown__item">
                     <div class="nav__link">
                        Travel Information <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                     </div>

                     <ul class="dropdown__menu">
                        <li>
                           <a href="/accommodation" class="dropdown__link">
                              <i class="ri-user-line"></i> Accommodation
                           </a>                          
                        </li>

                        <li>
                           <a href="/sightseeing" class="dropdown__link">
                              <i class="ri-lock-line"></i> Sightseeing
                           </a>
                        </li>

                        <li>
                           <a href="/climate" class="dropdown__link">
                              <i class="ri-message-3-line"></i> Climate
                           </a>
                        </li>
                     </ul>
                  </li>
				      <li class="dropdown__item">
                     <div class="nav__link">
                        Theme <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                     </div>

                     <ul class="dropdown__menu">
                        <li>
                           <a href="/call_for_papers" class="dropdown__link">
                              <i class="ri-user-line"></i> Call for Papers
                           </a>                          
                        </li>
                     </ul>
                  </li>
				   <li class="dropdown__item">
                     <div class="nav__link">
                        Registration <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                     </div>

                     <ul class="dropdown__menu">
                        <li>
                           <a href="/registration_fee" class="dropdown__link">
                              <i class="ri-user-line"></i> Registration Fee
                           </a>                          
                        </li>

                        <li>
                           <a href="/payment_details" class="dropdown__link">
                              <i class="ri-lock-line"></i> Payment Details
                           </a>
                        </li>
                     </ul>
                  </li>
				  <li><a href="/program_schedule" class="nav__link">Program Schedule</a></li>
				   <li class="dropdown__item">
                     <div class="nav__link">
                        More <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                     </div>

                     <ul class="dropdown__menu">
                        <li>
                           <a href="/venueandtravel" class="dropdown__link">
                              <i class="ri-user-line"></i> Venue and Travel
                           </a>                          
                        </li>

                        <li>
                           <a href="/sponsors_partners" class="dropdown__link">
                              <i class="ri-lock-line"></i> Sponsors &amp; Partners
                           </a>
                        </li>
						<li>
                           <a href="/contact_us" class="dropdown__link">
                              <i class="ri-lock-line"></i> Contact us
                           </a>
                        </li>

                        <li>
                           <a href="/faqs" class="dropdown__link">
                              <i class="ri-message-3-line"></i> FAQs
                           </a>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </nav>
      </header>

<script type="text/javascript" src="../menu-main.js"></script>
